.warpper {
  margin-top: 2rem;
  padding: 1rem;
  background-color: black;
  color: white;
  font-size: 2rem;

  &.inverted {
      border: 1px solid black;
      color: black;
      background: white;
    }
}

:global{
  .something {
      font-weight: 800;
      color: aqua;
    }
} 

:local {
  .scss_local {
      background-color: #fa2828;
    }
}